body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: 'Roboto', 'Arial', sans-serif;
}


/* HEADER STYLES */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.site-header-actions {
  display: flex;
  align-items: center;
}
/* SITE NAVBAR STYLES */

.sitenav-list {
  list-style: none;
  display: flex;
}

.site-nav-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
/* MENU LINK STYLES */
.main-link {
  font-style: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
}

/* HERO STYLES */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252420;
  color: #fff;
}

.hero-content {
  width: 390px;
}

.hero-image {
  width: 510px;
  height: 510px;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial' sans-serif;
}

.hero-hr {
  height: 3px;
  width: 80px;
  background-color: #ff7500;
}

/* FEATURE STYLES */

.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial' sans-serif;
  letter-spacing: 0.5px;
}

.feature {
  width: 340px;
}

.features-list {
  display: flex;
  list-style: none;
  justify-content: space-between ;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color:  rgba(255, 117, 0, 0.20);;
}

.feature-title {
  font-size: 24px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial' sans-serif;
}

/* PROMO STYLES */

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #252420;
}

.promo-content {
  width: 440px;

}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial' sans-serif;
}

.promo-strong {
  color: #ff7500;
}

.promo-image {
  width: 440px;
  height: 440px;
  object-fit: cover;
}
/* FOOTER STYLES */

.site-footer {
  background-color: #f8f8f8;
}

.site-footer ul {
  list-style: none;
}

.site-footer-divider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.50);
}

.site-footer-bottom {
  display: flex;
  justify-content: space-between;
}

.site-footer-link-list {
  width: 224px;
  line-height: 19px;
}

.site-footer-link-list a {
  text-decoration: none;
  color: #242520;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-socials {
  display: flex;
}