* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

*:focus {
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}

/* CONTAINER STYLES */

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER STYLES */
.site-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
  background-color: #fff;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link img {
  display: block;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.5;
}

.site-header-actions {
  display: flex;
  align-items: center;
}
/* SITE NAVBAR STYLES */

.sitenav-list {
  margin: 0;
  margin-right: 32px;
  list-style: none;
  display: flex;
  padding: none;
}

.sitenav-item {
  margin-right: 32px;
}

.sitenav-item:last-child {
  margin-right: 0;
}

.site-nav-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.site-nav-link:hover {
  color: #ff7500;
}

.site-nav-link:active {
  opacity: 0.6;
}

/* MENU LINK STYLES */
.main-link {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-style: 13px;
  font-weight: bold;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

/* HERO STYLES */

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.hero-image {
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial' sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-hr {
  height: 3px;
  width: 80px;
  background-color: #ff7500;
  border: 0;
  margin: 0;
  margin-bottom: 40px;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

/* FEATURE STYLES */
.features {
  padding-top: 210px;
  padding-bottom: 210px;
}

.features-heading {
  margin-top: 0;
  margin-bottom: 72px;
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial' sans-serif;
  letter-spacing: 0.5px;
}

.feature {
  width: 340px;
  margin-right: 40px;
}

.feature:last-child {
  margin-right: 0;
}

.features-list {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.feature-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 32px;
  width: 100px;
  height: 100px;
  background-color:  rgba(255, 117, 0, 0.20);;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial' sans-serif;
}

.feature-info {
  margin: 0;
}
/* PROMO STYLES */

.promo {
  padding-top: 120px;
  padding-bottom: 160px;;
}

.promo-inner {
  border-radius: 12px;
  display: flex;
  padding: 64px;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial' sans-serif;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text:last-child {
  margin-bottom: 0;
}

.promo-info-wrapper {
  margin-bottom: 24px;
}

.promo-strong {
  color: #ff7500;
}

.promo-image {
  border-radius: 12px;
  width: 440px;
  height: 440px;
  object-fit: cover;
}
/* FOOTER STYLES */

.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.site-footer ul {
  padding: 0;
  list-style: none;
}

.site-footer-divider {
  height: 2px;
  border: 0;
  margin-top: 40px;
  margin-bottom: 64px;
  background-color: rgba(37, 36, 32, 0.50);
}

.site-footer-bottom {
  display: flex;
  justify-content: space-between;
}

.site-footer-link-list {
  width: 224px;
  line-height: 19px;
  padding: 0;
  margin: 0;
  padding-right: 68px;
}

.site-footer-link-list:last-child {
  margin-right: 0;
}

.site-footer-link-list a {
  text-decoration: none;
  color: #242520;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-socials {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-socials li {
  margin-right: 16px;
}
/* IMAGE BLOCK */

.footer-socials li:last-child {
  margin-right: 0;
}

.footer-socials a {
  color: #242520;
  display: block;
}

.footer-socials svg {
  display: block;
}

.footer-socials a:hover {
  color: #ff7500;
}

.footer-socials a:active {
  opacity: 0.6;
}

.site-footer-link-list a:hover {
  color: #ff7500;
}

.site-footer-link-list a:active {
  opacity: 0.6;
}

.site-footer-link-list li {
  margin-bottom: 16px;
}

.site-footer-link-list li:last-child {
  margin-bottom: 0;
}